<h1>Angular Showcase</h1>
<!-- <nav>
  <a routerLink="/lifecycle">Lifecycle</a>
  <a routerLink="/communication">Communication</a>
  <a routerLink="/directives">Directives</a>
  <a routerLink="/services">Services</a>
</nav> -->
<router-outlet></router-outlet>
<!-- <div class="logs">
  <h3>Logs</h3>
  <button (click)="clearLogs()">Clear Logs</button>
  <ul>
    <li *ngFor="let log of logs$ | async">{{log}}</li>
  </ul>
</div> -->

<div class="container border mt-2">
 
  <router-outlet></router-outlet>


</div>

